.header {
    border-bottom: 1px solid #ECECEC;
}

.page-header {
    position: relative;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    

    @media screen and (max-width: 767px) {
        justify-content: space-between;
        height: 60px;
    }
}

.menu-container {
    @media screen and (max-width: 767px) {
        display: none;

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        
        background-color: #FFFFFF;

        &.is-open {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &:focus,
    &:hover {
        fill: $accentColor;
    }

    @media screen and(min-width: 768px) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}