.header {
    border-bottom: 1px solid #ECECEC;
}

.page-header {
    position: relative;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    

    @media screen and (max-width: 767px) {
        justify-content: space-between;
        height: 60px;
    }
}

.menu-container {
    z-index: 1000;
    
    @media screen and (max-width: 767px) {
        display: none;

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        
        background-color: #FFFFFF;

        &.is-open {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &:focus,
    &:hover {
        fill: $accentColor;
    }

    @media screen and(min-width: 768px) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-link {
    margin-left: 40px;
    margin-top: 64px;
    margin-bottom: 48px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    
    letter-spacing: 0.02em;
    
    a {
        color: #2196F3;
    }
    
    a+a {
        margin-left: 10px;
        padding-left: 10px;

        border-left: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
    }
    
    @media screen and (min-width: 767px) {
        display: none;
    }
}