.section .title {
    color: $seconderyTextColor;
}

.title-hh {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    color: $seconderyTextColor;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.title-hhh {
    padding-top: 30px;

    color: $seconderyTextColor;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;
}

.about-us .title-hhh {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $seconderyTextColor;
}

.p-main {
    padding-top: 10px;

    color: $primeryTextColor;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;
}