.button-portfolio {
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    min-width: 73px;
    text-align: center;
    background-color: #f5f4fa;
    color: #212121;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2196f3;
        color: #ffffff;
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.div-button-portfolio {
    .button-portfolio {
            margin-right: 8px;
            margin-bottom: 15px;
        }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }

}