.company-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 50px;

    @media screen and (max-width: 480px) {
        justify-content: center;
    }

    @media screen and (max-width: 767px) {
        margin: -15px;
        margin-top: 45px;

        li {
                width: 210px;
                margin: 15px;
            }
        }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin: -15px;
        margin-top: 45px;

        li {
            margin: 15px;
            width: 226px;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-top: 65px;

        li {
                width: 170px;
            }        
    }
}

.company-logo {
    fill: currentColor;
    width: 106px;
    height: 60px;
    margin-left: 50%;
    margin-top: 16px;
    transform: translate(-50%);
}

.company {
    display: block;
    // width: 170px;
    height: 92px;
    outline: 1px solid #afb1b8;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $accentColor;
        outline: 1px solid $accentColor;
    }
}