.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.48;
    /* identical to box height */
    
    letter-spacing: 0.03em;

    &.main {
        color: $accentColor;
    }
        
    &.black {
        color: #000;
    }
    

    &.white {
    color: #ffffff;
    }
}