.site-nav {
    display: flex;
    margin: 0;
    margin-left: 93px;
    padding-left: 0;
    
    .item:not(:last-child) {
        margin-right: 50px;}

    @media screen and (max-width: 767px){
        display: none;
    }
}

.site-nav .link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $seconderyTextColor;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.site-nav .dedicated {
    color: $accentColor;

    &::after {
    /* opacity: 0; */
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    background: $accentColor;
    border-radius: 2px;}
}

/* .site-nav .link:hover::after {
  opacity: 1;
} */