body {
    color: $seconderyTextColor;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.company-box a {
    color: #afb1b8;
}

h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}